.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
  font-family: sketch;
  src: url(fonts/FFF_Tusj.ttf);
}

/* Space out content a bit */
body {
  display: none;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #FFFFFF;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

::selection {
  background: #BFB2A8; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #BFB2A8; /* Gecko Browsers */
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    background-color: #E3AE24;
    border-bottom: 0;
  }
}

/********************************** MY STYLES *******************************/
.logoTittleContainer{
  margin-bottom: 10%;
}


.engine-tittle{
  font-family: sketch;
  font-size: 400%;
  float: right;

}

.logo{
  width: 20%;
  margin-left: -10%;
  margin-bottom: 2%;
}

.media-heading{
  font-weight: 300;
}

.item-date{

  float: right;
  border: 1px solid #ddd;
  padding: 8px;
  border-radius: 0px 0px 0px 5px;
}

.item-ranking{

  float: right;
  height: 100%;
  background: #E3AE24;
  color: white;
  font-weight: 500;
  font-size: 15pt;
  padding: 5px;
  border-radius:0px 3px 0px 0px;
}
